.dashboard-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-nav {
    flex: 1;
    min-width: 300px;
    color: white;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem 1.5rem;
}
.white-svg-icon img {
    filter: brightness(0) invert(1); /* This will change the SVG color to white */
  }
.menu {
    margin: 0 1.5rem;
}

.menu-item {
    margin: 1rem 0;
}

.content {
    flex: 5;
}

.user {
    margin: 1rem;
}