@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary: rgb(86 137 156)
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    /* color: rgb(var(--foreground-rgb)); */
    color: black;
}


.gradient {
    height: fit-content;
    z-index: -1;
    width: 100%;
    max-width: px;
    background-image: radial-gradient(at 27% 37%,
            hsla(215, 98%, 61%, 1) 0px,
            transparent 10%),
        radial-gradient(at 97% 21%, rgb(193 241 227) 0px, transparent 30%),
        radial-gradient(at 52% 99%, rgb(86 137 156), transparent 30%),
        radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 30%),
        radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 30%),
        radial-gradient(at 33% 50%, rgb(34, 166, 40) 0px, transparent 30%),
        radial-gradient(at 79% 53%, rgb(131, 192, 38) 0px, transparent 30%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(10px) saturate(150%);
    opacity: 0.15;
}

/* map stuff */
.leaflet-interactive {
    outline: none;
}